@*@model ComputerOnlineStorage.Controllers.ShowCategories*@

@model ComputerOnlineStorage.Models.Category
@{
    ViewBag.Title = "Удаление категорий";
}

<h2>Удаление категории</h2>
    <dl>
        <dt>Родительская категория</dt>
        <dd>
            @ViewData["ParentCategory"]
        </dd>
        @Html.HiddenFor(m =>m.ParentCategory)
        <dt>Название категории</dt>
        <dd>
            @Html.DisplayFor(m => m.CategoryName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }

@*<h2>Удаление категории</h2>
    <dl>
        <dt>Родительская категория</dt>
        <dd>
            @Html.DisplayFor(m => m.ParentCategory)
        </dd>
        <dt>Название категории</dt>
        <dd>
            @Html.DisplayFor(m => m.CategoryName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }*@